In [ ]:

# gmean without funtion

a=20
b=30
gmean=(a*b)/(a+b)
print(gmean)

c=10
d=20
gmean1=(c*d)/(c+d)
print(gmean1)

12.0
6.666666666666667

In [ ]:
# gmean funtion
def gmean(a,b):
  mean=(a*b)/(a+b)
  print(mean)
gmean(20,30)
gmean(10,20)

12.0
6.666666666666667

In [ ]:

def even_or_odd(num):
  if num%2==0:
    return "Even"
  else:
    return "Odd"
print(even_or_odd(4))
print(even_or_odd(9))

Even
Odd

In [ ]:
def greet():
  print("Hello World")
greet()

Hello World

In [ ]:
def student(name):
  print("Hello",name)
student("chandu")

Hello chandu

In [ ]:

#simple interest funtion

def simple_interest(p,t,r):
  SI=(p*t*r)/100
  print(f"Simple interest: {SI}")
simple_interest(500,6,5)

Simple interest: 150.0

In [ ]:
#area of rectangle
def arearect(l=4,w=5):
    area=l*w
    print(area)
arearect()

20

In [ ]:
#area of triangle
def areatring (b,h):
  area = 0.5 * b * h
  print(area)
areatring(5,3)

7.5

In [ ]:
def circle(r):
  A = 3.14159*r*r
  print(f"radius of circle is:{A}")
circle(50)

def square(s):
  s = s*s
  print(s)
square(5)

radius of circle is:7853.974999999999
25

In [ ]:
#expection handling
#try:
  #risky code
#except:
  #if error occurs

In [ ]:
#expection

a = input("enter a nuumber:")
print(f"multiplication table if{a} is:")
try:
  for i in range(1,11):
    print(f"{int(a)} * {i} = {int(a)*i}")
except:
  print("invalid input")
  print("imp code")
  print("end of code")

enter a nuumber:5
multiplication table if5 is:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#login page

username = 1234

password = "chandu"
try:
  u = int(input("enter name:"))
  p = input("enter passwword:")



  if p == password and u == username :
    print("valid")
  else:
    print("wrong  pass")
except:
  print("enter  vlid username")

enter name:1234
enter passwword:chandu
valid

In [ ]:
try:
  x=10
  y=0
  print(x/y)
except:
  print("error")

error

**work on dataset**

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving data_cleaning_dataset_1.csv to data_cleaning_dataset_1 (1).csv

In [ ]:

import pandas as pd
df=pd.read_csv("data_cleaning_dataset_1.csv")
#df.head() # reading first 5 rows
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0     NaN  -10.0                 NaN        NaN
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0       M   65.0               100.0        NaN
3             4  150.0    Male  -10.0                70.0        NaN
4             5   20.0    male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996    NaN       F   75.0                 NaN       BCOM
996         997   18.0    male  -10.0                 NaN        BCA
997         998  150.0    male    NaN                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000    NaN  Female  -10.0                90.0        BSc

          City            Email Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai              NaN       No     15-07-2023  136958          9.2
1    Bangalore              NaN        Y     15-07-2023  146932          2.1
2          NaN              NaN        N            NaN  118694          6.2
3       Mumbai              NaN        N     01-06-2023  134879          3.5
4      Chennai  valid@email.com      NaN     15-07-2023  125268          6.0
..         ...              ...      ...            ...     ...          ...
995     Mumbai  valid@email.com        N     15-07-2023   70961          6.0
996    Chennai              NaN        N            NaN  141678          6.4
997    Chennai              NaN        N            NaN   89532          7.1
998        NaN              NaN        N     01-06-2023   96994          8.2
999      Delhi  valid@email.com      NaN     15-08-2023   71133          3.4

     Experience_Years Course_Level Scholarship Hostel Blood_Group
0                   2           UG          No     No          B+
1                   0           PG          No     No          A+
2                   2           PG         Yes    Yes          B-
3                   5           UG         Yes     No          O-
4                   7          PhD          No     No          O+
..                ...          ...         ...    ...         ...
995                 5           UG         Yes    Yes          A-
996                 3           UG         Yes     No          O+
997                 7           UG         Yes    Yes         AB+
998                 2           UG         Yes     No          B-
999                 8          PhD         Yes    Yes          O-

[1000 rows x 17 columns]

In [ ]:
print("dataset shape:",df.shape)

dataset shape: (1000, 17)

In [ ]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [ ]:
#remove dupictae values
df.drop_duplicates(inplace=True)

In [ ]:
df.isnull().sum()

Student_ID              0
Age                   135
Gender                143
Marks                 106
Attendance_Percent    162
Department            203
City                  199
Email                 340
Fee_Paid              212
Admission_Date        234
Income                  0
Study_Hours             0
Experience_Years        0
Course_Level            0
Scholarship             0
Hostel                  0
Blood_Group             0
dtype: int64

In [ ]:
# handling missing values
# numerical columns--> fill with median value
num_cols=["Age","Marks","Attendance_Percent"]
#with loop
for col in num_cols:
  df[col]=df[col].fillna(df[col].median())
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0     NaN  -10.0                80.0        NaN
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0       M   65.0               100.0        NaN
3             4  150.0    Male  -10.0                70.0        NaN
4             5   20.0    male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0       F   75.0                80.0       BCOM
996         997   18.0    male  -10.0                80.0        BCA
997         998  150.0    male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai              NaN       No     15-07-2023  136958          9.2
1    Bangalore              NaN        Y     15-07-2023  146932          2.1
2          NaN              NaN        N            NaN  118694          6.2
3       Mumbai              NaN        N     01-06-2023  134879          3.5
4      Chennai  valid@email.com      NaN     15-07-2023  125268          6.0
..         ...              ...      ...            ...     ...          ...
995     Mumbai  valid@email.com        N     15-07-2023   70961          6.0
996    Chennai              NaN        N            NaN  141678          6.4
997    Chennai              NaN        N            NaN   89532          7.1
998        NaN              NaN        N     01-06-2023   96994          8.2
999      Delhi  valid@email.com      NaN     15-08-2023   71133          3.4

     Experience_Years Course_Level Scholarship Hostel Blood_Group
0                   2           UG          No     No          B+
1                   0           PG          No     No          A+
2                   2           PG         Yes    Yes          B-
3                   5           UG         Yes     No          O-
4                   7          PhD          No     No          O+
..                ...          ...         ...    ...         ...
995                 5           UG         Yes    Yes          A-
996                 3           UG         Yes     No          O+
997                 7           UG         Yes    Yes         AB+
998                 2           UG         Yes     No          B-
999                 8          PhD         Yes    Yes          O-

[1000 rows x 17 columns]

In [ ]:
# without for loop
num_cols=["Age","Marks","Attendance_Percent"]
df[num_cols]=df[num_cols].fillna(df[num_cols].median())
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0     NaN  -10.0                80.0        NaN
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0       M   65.0               100.0        NaN
3             4  150.0    Male  -10.0                70.0        NaN
4             5   20.0    male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0       F   75.0                80.0       BCOM
996         997   18.0    male  -10.0                80.0        BCA
997         998  150.0    male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai              NaN       No     15-07-2023  136958          9.2
1    Bangalore              NaN        Y     15-07-2023  146932          2.1
2          NaN              NaN        N            NaN  118694          6.2
3       Mumbai              NaN        N     01-06-2023  134879          3.5
4      Chennai  valid@email.com      NaN     15-07-2023  125268          6.0
..         ...              ...      ...            ...     ...          ...
995     Mumbai  valid@email.com        N     15-07-2023   70961          6.0
996    Chennai              NaN        N            NaN  141678          6.4
997    Chennai              NaN        N            NaN   89532          7.1
998        NaN              NaN        N     01-06-2023   96994          8.2
999      Delhi  valid@email.com      NaN     15-08-2023   71133          3.4

     Experience_Years Course_Level Scholarship Hostel Blood_Group
0                   2           UG          No     No          B+
1                   0           PG          No     No          A+
2                   2           PG         Yes    Yes          B-
3                   5           UG         Yes     No          O-
4                   7          PhD          No     No          O+
..                ...          ...         ...    ...         ...
995                 5           UG         Yes    Yes          A-
996                 3           UG         Yes     No          O+
997                 7           UG         Yes    Yes         AB+
998                 2           UG         Yes     No          B-
999                 8          PhD         Yes    Yes          O-

[1000 rows x 17 columns]

In [ ]:
#catgorical columns
cat_cols=["Gender","Department","City","Fee_Paid"]

#with loop
for col in cat_cols:
  df[col]=df[col].fillna(df[col].mode()[0])
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0    Male  -10.0                80.0       BCOM
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0       M   65.0               100.0       BCOM
3             4  150.0    Male  -10.0                70.0       BCOM
4             5   20.0    male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0       F   75.0                80.0       BCOM
996         997   18.0    male  -10.0                80.0        BCA
997         998  150.0    male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai              NaN       No     15-07-2023  136958          9.2
1    Bangalore              NaN        Y     15-07-2023  146932          2.1
2      Chennai              NaN        N            NaN  118694          6.2
3       Mumbai              NaN        N     01-06-2023  134879          3.5
4      Chennai  valid@email.com       No     15-07-2023  125268          6.0
..         ...              ...      ...            ...     ...          ...
995     Mumbai  valid@email.com        N     15-07-2023   70961          6.0
996    Chennai              NaN        N            NaN  141678          6.4
997    Chennai              NaN        N            NaN   89532          7.1
998    Chennai              NaN        N     01-06-2023   96994          8.2
999      Delhi  valid@email.com       No     15-08-2023   71133          3.4

     Experience_Years Course_Level Scholarship Hostel Blood_Group
0                   2           UG          No     No          B+
1                   0           PG          No     No          A+
2                   2           PG         Yes    Yes          B-
3                   5           UG         Yes     No          O-
4                   7          PhD          No     No          O+
..                ...          ...         ...    ...         ...
995                 5           UG         Yes    Yes          A-
996                 3           UG         Yes     No          O+
997                 7           UG         Yes    Yes         AB+
998                 2           UG         Yes     No          B-
999                 8          PhD         Yes    Yes          O-

[1000 rows x 17 columns]

In [ ]:
df.isnull().sum()

Student_ID              0
Age                     0
Gender                  0
Marks                   0
Attendance_Percent      0
Department              0
City                    0
Email                 340
Fee_Paid                0
Admission_Date        234
Income                  0
Study_Hours             0
Experience_Years        0
Course_Level            0
Scholarship             0
Hostel                  0
Blood_Group             0
dtype: int64

In [ ]:
#Email ---> fill missing with "Unknown"

df['Email']=df['Email'].fillna("Unknown")
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0    Male  -10.0                80.0       BCOM
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0       M   65.0               100.0       BCOM
3             4  150.0    Male  -10.0                70.0       BCOM
4             5   20.0    male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0       F   75.0                80.0       BCOM
996         997   18.0    male  -10.0                80.0        BCA
997         998  150.0    male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai          Unknown       No     15-07-2023  136958          9.2
1    Bangalore          Unknown        Y     15-07-2023  146932          2.1
2      Chennai          Unknown        N            NaN  118694          6.2
3       Mumbai          Unknown        N     01-06-2023  134879          3.5
4      Chennai  valid@email.com       No     15-07-2023  125268          6.0
..         ...              ...      ...            ...     ...          ...
995     Mumbai  valid@email.com        N     15-07-2023   70961          6.0
996    Chennai          Unknown        N            NaN  141678          6.4
997    Chennai          Unknown        N            NaN   89532          7.1
998    Chennai          Unknown        N     01-06-2023   96994          8.2
999      Delhi  valid@email.com       No     15-08-2023   71133          3.4

     Experience_Years Course_Level Scholarship Hostel Blood_Group
0                   2           UG          No     No          B+
1                   0           PG          No     No          A+
2                   2           PG         Yes    Yes          B-
3                   5           UG         Yes     No          O-
4                   7          PhD          No     No          O+
..                ...          ...         ...    ...         ...
995                 5           UG         Yes    Yes          A-
996                 3           UG         Yes     No          O+
997                 7           UG         Yes    Yes         AB+
998                 2           UG         Yes     No          B-
999                 8          PhD         Yes    Yes          O-

[1000 rows x 17 columns]

In [ ]:
# Gender Standardization
df['Gender']=df['Gender'].replace({
    "M":"Male",
    "male":"Male",
    "F":"Female",
    "female":"Female"
})
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0    Male  -10.0                80.0       BCOM
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0    Male   65.0               100.0       BCOM
3             4  150.0    Male  -10.0                70.0       BCOM
4             5   20.0    Male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0  Female   75.0                80.0       BCOM
996         997   18.0    Male  -10.0                80.0        BCA
997         998  150.0    Male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai          Unknown       No     15-07-2023  136958          9.2
1    Bangalore          Unknown        Y     15-07-2023  146932          2.1
2      Chennai          Unknown        N            NaN  118694          6.2
3       Mumbai          Unknown        N     01-06-2023  134879          3.5
4      Chennai  valid@email.com       No     15-07-2023  125268          6.0
..         ...              ...      ...            ...     ...          ...
995     Mumbai  valid@email.com        N     15-07-2023   70961          6.0
996    Chennai          Unknown        N            NaN  141678          6.4
997    Chennai          Unknown        N            NaN   89532          7.1
998    Chennai          Unknown        N     01-06-2023   96994          8.2
999      Delhi  valid@email.com       No     15-08-2023   71133          3.4

     Experience_Years Course_Level Scholarship Hostel Blood_Group
0                   2           UG          No     No          B+
1                   0           PG          No     No          A+
2                   2           PG         Yes    Yes          B-
3                   5           UG         Yes     No          O-
4                   7          PhD          No     No          O+
..                ...          ...         ...    ...         ...
995                 5           UG         Yes    Yes          A-
996                 3           UG         Yes     No          O+
997                 7           UG         Yes    Yes         AB+
998                 2           UG         Yes     No          B-
999                 8          PhD         Yes    Yes          O-

[1000 rows x 17 columns]

In [ ]:
# Fee_paid Standardization
df['Fee_Paid']=df['Fee_Paid'].replace({
    "N":"No",
    "Y":"Yes",
    "yes":"Yes",
    "no":"No"
})
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0    Male  -10.0                80.0       BCOM
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0    Male   65.0               100.0       BCOM
3             4  150.0    Male  -10.0                70.0       BCOM
4             5   20.0    Male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0  Female   75.0                80.0       BCOM
996         997   18.0    Male  -10.0                80.0        BCA
997         998  150.0    Male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai          Unknown       No     15-07-2023  136958          9.2
1    Bangalore          Unknown      Yes     15-07-2023  146932          2.1
2      Chennai          Unknown       No            NaN  118694          6.2
3       Mumbai          Unknown       No     01-06-2023  134879          3.5
4      Chennai  valid@email.com       No     15-07-2023  125268          6.0
..         ...              ...      ...            ...     ...          ...
995     Mumbai  valid@email.com       No     15-07-2023   70961          6.0
996    Chennai          Unknown       No            NaN  141678          6.4
997    Chennai          Unknown       No            NaN   89532          7.1
998    Chennai          Unknown       No     01-06-2023   96994          8.2
999      Delhi  valid@email.com       No     15-08-2023   71133          3.4

     Experience_Years Course_Level Scholarship Hostel Blood_Group
0                   2           UG          No     No          B+
1                   0           PG          No     No          A+
2                   2           PG         Yes    Yes          B-
3                   5           UG         Yes     No          O-
4                   7          PhD          No     No          O+
..                ...          ...         ...    ...         ...
995                 5           UG         Yes    Yes          A-
996                 3           UG         Yes     No          O+
997                 7           UG         Yes    Yes         AB+
998                 2           UG         Yes     No          B-
999                 8          PhD         Yes    Yes          O-

[1000 rows x 17 columns]

In [ ]:
#Binary encoding
df['Scholarship']=df['Scholarship'].map({"Yes":1,"No":0})
df['Hostel']=df['Hostel'].map({"Yes":1,"No":0})
df['Fee_Paid']=df['Fee_Paid'].map({"Yes":1,"N0":0})
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0    Male  -10.0                80.0       BCOM
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0    Male   65.0               100.0       BCOM
3             4  150.0    Male  -10.0                70.0       BCOM
4             5   20.0    Male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0  Female   75.0                80.0       BCOM
996         997   18.0    Male  -10.0                80.0        BCA
997         998  150.0    Male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email  Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai          Unknown       NaN     15-07-2023  136958          9.2
1    Bangalore          Unknown       1.0     15-07-2023  146932          2.1
2      Chennai          Unknown       NaN            NaN  118694          6.2
3       Mumbai          Unknown       NaN     01-06-2023  134879          3.5
4      Chennai  valid@email.com       NaN     15-07-2023  125268          6.0
..         ...              ...       ...            ...     ...          ...
995     Mumbai  valid@email.com       NaN     15-07-2023   70961          6.0
996    Chennai          Unknown       NaN            NaN  141678          6.4
997    Chennai          Unknown       NaN            NaN   89532          7.1
998    Chennai          Unknown       NaN     01-06-2023   96994          8.2
999      Delhi  valid@email.com       NaN     15-08-2023   71133          3.4

     Experience_Years  Course_Level  Scholarship  Hostel Blood_Group
0                   2             2            0       0          B+
1                   0             0            0       0          A+
2                   2             0            1       1          B-
3                   5             2            1       0          O-
4                   7             1            0       0          O+
..                ...           ...          ...     ...         ...
995                 5             2            1       1          A-
996                 3             2            1       0          O+
997                 7             2            1       1         AB+
998                 2             2            1       0          B-
999                 8             1            1       1          O-

[1000 rows x 17 columns]

In [ ]:
#One Hot Encoding
df=pd.get_dummies(
    df,
    columns=["Blood_Group"],
    drop_first=True
    )
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0    Male  -10.0                80.0       BCOM
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0    Male   65.0               100.0       BCOM
3             4  150.0    Male  -10.0                70.0       BCOM
4             5   20.0    Male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0  Female   75.0                80.0       BCOM
996         997   18.0    Male  -10.0                80.0        BCA
997         998  150.0    Male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email  Fee_Paid Admission_Date  ...  \
0       Mumbai          Unknown       NaN     15-07-2023  ...
1    Bangalore          Unknown       1.0     15-07-2023  ...
2      Chennai          Unknown       NaN            NaN  ...
3       Mumbai          Unknown       NaN     01-06-2023  ...
4      Chennai  valid@email.com       NaN     15-07-2023  ...
..         ...              ...       ...            ...  ...
995     Mumbai  valid@email.com       NaN     15-07-2023  ...
996    Chennai          Unknown       NaN            NaN  ...
997    Chennai          Unknown       NaN            NaN  ...
998    Chennai          Unknown       NaN     01-06-2023  ...
999      Delhi  valid@email.com       NaN     15-08-2023  ...

     Experience_Years  Course_Level  Scholarship  Hostel  Blood_Group_A-  \
0                   2             2            0       0           False
1                   0             0            0       0           False
2                   2             0            1       1           False
3                   5             2            1       0           False
4                   7             1            0       0           False
..                ...           ...          ...     ...             ...
995                 5             2            1       1            True
996                 3             2            1       0           False
997                 7             2            1       1           False
998                 2             2            1       0           False
999                 8             1            1       1           False

     Blood_Group_AB+  Blood_Group_B+  Blood_Group_B-  Blood_Group_O+  \
0              False            True           False           False
1              False           False           False           False
2              False           False            True           False
3              False           False           False           False
4              False           False           False            True
..               ...             ...             ...             ...
995            False           False           False           False
996            False           False           False            True
997             True           False           False           False
998            False           False            True           False
999            False           False           False           False

     Blood_Group_O-
0             False
1             False
2             False
3              True
4             False
..              ...
995           False
996           False
997           False
998           False
999            True

[1000 rows x 22 columns]

In [ ]:
df.to_csv("data_cleaning_dataset_1.csv", index=False)
from google.colab import files
files.download("data_cleaning_dataset_1.csv")